/* Reset y contenedor principal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: #ffffff;
}

.fila {
  display: flex;
  flex: 1; /* flexibiliza el texto en el largo de la pantalla */
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}

.palabra {
  font-size: 2rem;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.color-arriba {
  color: #e74c3c; /* Rojo */
}

.color-centro {
  color: #3498db; /* Azul */
}

.color-abajo {
  color: #2ecc71; /* Verde */
}

.palabra:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}
