#centro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;

}

.fila {
  display: flex;
  justify-content:space-between;
  flex: 1
  
}